* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272536;
}

:root {
  --main-card-color: #4439cc;
  --main-card-episode-color: #3b31ba;
}

/* * Navbar */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-size: 24px;
  color: white;
  list-style: none;
}

.navbar__item {
  display: inline-block;
  margin: 0 30px;
  cursor: pointer;
}

.navbar__item:hover {
  color: grey;
}

.navbar__item__logo {
  width: 180px;
}

/* * Banner */

.banner {
  text-align: center;
}

.banner__title {
  font-family: "Helvetica";
  font-size: 18px;
  color: white;
  padding: 8px 0;
  background-color: #5f27cd;
  cursor: pointer;
}

.banner__title:hover {
  text-decoration: underline;
}

/* * Cards */

.cards__container {
  max-width: 80%;
  margin: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  justify-content: center;
  gap: 0 20px;
  margin: 10px 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 1005px;
  margin: 10px 0;
  padding-bottom: 10px;
  border-radius: 12px;
  background-color: var(--main-card-color);
}

.card__content {
  font-family: "Helvetica";
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card__content > h3 {
  font-size: 26px;
  color: white;
  margin-bottom: 5px;
}

.card__content > p {
  font-size: 20px;
  color: #dddddd;
  margin-top: 5px;
}

.card__img__container {
  margin: 0 20px;
}

.card__img {
  width: 100%;
  height: 457px;
  object-fit: cover;
  border-radius: 12px;
}

.card__episodes {
  font-family: "Helvetica";
  margin-top: 10px;
  width: 100%;
  height: 450px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.card__episodes::-webkit-scrollbar {
  scrollbar-width: none;
  display: none;
}

.card__episode {
  border-radius: 8px;
  background-color: var(--main-card-episode-color);
  padding: 7px 30px;
  margin: 10px 20px;
}

.card__episode__title {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.card__episode > p {
  margin: 3px 0;
  color: #dddddd;
}

/* * Media Queries */

@media (max-width: 800px) {
  .navbar {
    padding: 20px 0;
  }
  .navbar__list {
    flex-direction: column;
  }
}

@media only screen and (max-device-width: 850px) {
  .cards__container {
    max-width: 100%;
  }
}

@media only screen and (max-device-width: 500px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin: 10px 0;
  }
}
