* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272536;
}

:root {
  --main-card-color: #4439cc;
  --main-card-episode-color: #3b31ba;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-size: 24px;
  color: white;
  list-style: none;
}

.nav-item {
  display: inline-block;
  margin: 0 30px;
  cursor: pointer;
}

.nav-item:hover {
  color: grey;
}

.logo {
  width: 180px;
}

.warning {
  text-align: center;
}

.warning-text {
  font-family: "Helvetica";
  font-size: 18px;
  color: white;
  padding: 8px 0;
  background-color: #5f27cd;
  cursor: pointer;
}

.warning-text:hover {
  text-decoration: underline;
}

.cards-container {
  max-width: 80%;
  margin: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  justify-content: center;
  gap: 0 20px;
  margin: 10px 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 1005px;
  margin: 10px 0;
  padding-bottom: 10px;
  border-radius: 12px;
  background-color: var(--main-card-color);
}

.card-info {
  font-family: "Helvetica";
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-info > h3 {
  font-size: 26px;
  color: white;
  margin-bottom: 5px;
}

.card-info > p {
  font-size: 20px;
  color: #dddddd;
  margin-top: 5px;
}

.card-img {
  margin: 0 20px;
}

.card-arc-wall {
  width: 100%;
  height: 457px;
  object-fit: cover;
  border-radius: 12px;
}

.card-episodes {
  font-family: "Helvetica";
  margin-top: 10px;
  width: 100%;
  height: 450px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.card-episodes::-webkit-scrollbar {
  scrollbar-width: none;
  display: none;
}

.card-episode {
  border-radius: 8px;
  background-color: var(--main-card-episode-color);
  padding: 7px 30px;
  margin: 10px 20px;
}

.card-episode-title {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.card-episode > p {
  margin: 3px 0;
  color: #dddddd;
}

@media (max-width: 800px) {
  .navbar {
    padding: 20px 0;
  }
  .nav-items {
    flex-direction: column;
  }
}